<%- include ('../partials/header') -%>

  <!-- Carousel Start -->
  <div class="container-fluid mb-3">
    <div class="row px-xl-5">
      <div class="col-lg-8">
        <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner rounded">
            <div class="carousel-item position-relative active" style="height: 430px">
              <img class="position-absolute w-100 h-100" src="/images/fashion.jpg"
                style="object-fit: cover;opacity:0.8" />
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px">
                  <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">
                    Clothes
                  </h1>
                  <p class="mx-md-5 px-5 animate__animated animate__bounceIn">
                    When it comes to filling your wardrobe with the latest designer
                    clothing, Intro have you
                    covered. From wardrobe basics to on-trend fashion pieces, we make it
                    our mission to source the
                    best fashion from the designers that everyone's talking about, from
                    homegrown talent to
                    stateside success stories.
                  </p>
                  <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp rounded"
                    href="/shop">Shop
                    Now</a>
                </div>
              </div>
            </div>
            <div class="carousel-item position-relative" style="height: 430px">
              <img class="position-absolute w-100 h-100" src="images/accessories.jpg"
                style="object-fit: cover;opacity:0.8" />
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px">
                  <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">
                    Accessories
                  </h1>
                  <p class="mx-md-5 px-5 animate__animated animate__bounceIn">
                    Accessories can make or break an outfit and here at Intro Clothing,
                    we have a wide range of
                    accessories from some of the best brands around. Whether you are
                    looking for a new bag,
                    cap or even a pair of sunglasses, we have you covered. Browse the
                    full accessories range at.
                  </p>
                  <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop
                    Now</a>
                </div>
              </div>
            </div>
            <div class="carousel-item position-relative" style="height: 430px">
              <img class="position-absolute w-100 h-100" src="images/footwear.jpg"
                style="object-fit: cover;opacity:0.8" />
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px">
                  <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">
                    Footwear
                  </h1>
                  <p class="mx-md-5 px-5 animate__animated animate__bounceIn">
                    Footwear at Intro includes trainers, formal shoes and boots.
                    Footwear is an
                    integral part of your outfit and overall look.
                  </p>
                  <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop
                    Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="product-offer mb-30 rounded" style="height: 200px">
          <img class="img-fluid" src="images/offer-1.jpg" alt="" />
          <div class="offer-text">
            <h3 class="text-white mb-3">Special Offer</h3>
            <a href="/shop" class="btn btn-primary rounded">Shop Now</a>
          </div>
        </div>
        <div class="product-offer mb-30 rounded" style="height: 200px">
          <img class="img-fluid" src="images/offer-2.jpg" alt="" />
          <div class="offer-text">
            <h3 class="text-white mb-3">Recommend</h3>
            <a href="/shop" class="btn btn-primary rounded">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel End -->

  <!-- Featured Start -->
  <div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center bg-light mb-4 rounded" style="padding: 30px">
          <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
          <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center bg-light mb-4 rounded" style="padding: 30px">
          <h1 class="fa fa-money-check-alt text-primary m-0 mr-3"></h1>
          <h5 class="font-weight-semi-bold m-0">Affordable price</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center bg-light mb-4 rounded" style="padding: 30px">
          <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
          <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="d-flex align-items-center bg-light mb-4 rounded" style="padding: 30px">
          <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
          <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- Featured End -->

  <!-- Categories Start -->
  <div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
      <span class="bg-secondary pr-3">Categories</span>
    </h2>
    <div class="row px-xl-5 pb-3">
      <%{ mastercategories.forEach( element=>{ %>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <a class="text-decoration-none" href="">
            <div class="cat-item d-flex align-items-center mb-4 rounded">
              <div class="overflow-hidden" style="width: 100px; height: 100px">
                <img class="img-fluid" src="https://drive.google.com/uc?id=<%-element['image']%>" alt="Not Found" />
              </div>
              <div class="flex-fill pl-3">
                <h6>
                  <%= element['name']%>
                </h6>
                <small class="text-body">100 Products</small>
              </div>
            </div>
          </a>
        </div>
        <%})} %>
    </div>
  </div>
  <!-- Categories End -->

  <!-- Products Start -->
  <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5">
      <span class="bg-secondary pr-3">Featured Products</span>
    </h2>
    <div class="pagination-products center mb-4">
      <div class="pagination pagination-content">
        <a href="/home?page=1" class="pagination-page pagination-page-1">1</a>
        <a href="/home?page=2" class="pagination-page pagination-page-2">2</a>
        <a href="/home?page=3" class="pagination-page">3</a>
        <a href="/home?page=4" class="pagination-page">4</a>
        <a href="/home?page=5" class="pagination-page">5</a>
        <a href="/home?page=6" class="pagination-page">6</a>
      </div>
    </div>
    <div class="row px-xl-5 featured-products">
      <% products.forEach(element=> { %>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <div class="product-item bg-light mb-4 rounded" data-id="<%= element['article_id']%>">
            <input type="hidden" name="productId" value="<%= element['article_id']%>" />
            <div class="product-img position-relative overflow-hidden rounded text-center">
              <img class="img-fluid product-image-<%= element['article_id']%>" style="width:200px; height:250px"
                src="https://drive.google.com/uc?id=<%-element['image']%>"
                alt="<%- element['productDisplayName'].slice(0, 30) + " ..." + "not found" %>" />
              <div class="product-action">
                <button class="btn btn-outline-dark btn-square addtocart" href=""><i
                    class="fa fa-shopping-cart"></i></button>
                <button class="btn btn-outline-dark btn-square btn-search-product" href=""><i
                    class="fa fa-search"></i></button>
              </div>
            </div>
            <div class="text-center py-4">
              <a class="h6 text-decoration-none text-truncate product-name-<%= element['article_id']%>"
                href="/detail/<%= element['article_id']%>">
                <small><%- element['productDisplayName']%></small>
              </a>
              <div class="d-flex align-items-center justify-content-center mt-2 ">
                <h5 class="product-price-<%= element['article_id']%> red-text">
                  <%- element['price'].toLocaleString()%> <small>vnd</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
    </div>


  </div>
  <!-- Products End -->

  <!-- Offer Start -->
  <div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
      <div class="col-md-6">
        <div class="product-offer mb-30 rounded" style="height: 300px">
          <img class="img-fluid" src="images/offer-1.jpg" alt="" />
          <div class="offer-text">
            <h3 class="text-white mb-3">Special Offer</h3>
            <a href="/shop" class="btn btn-primary rounded">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="product-offer mb-30 rounded" style="height: 300px">
          <img class="img-fluid" src="images/offer-2.jpg" alt="" />
          <div class="offer-text">
            <h3 class="text-white mb-3">Recommend</h3>
            <a href="/shop" class="btn btn-primary rounded">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Offer End -->

  <!-- Products Start -->
  <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
      <span class="bg-secondary pr-3">Recent Products</span>
    </h2>
    <div class="row px-xl-5">
      <% recentProducts.forEach(element=> { %>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <div class="product-item bg-light mb-4 rounded">
            <div class="product-img position-relative overflow-hidden rounded text-center">
              <img class="img-fluid product-image-<%= element['article_id']%>" style="width:200px; height:250px"
                src="https://drive.google.com/uc?id=<%-element['image']%>"
                alt="<%- element['productDisplayName'].slice(0, 30) + " ..." + "not found" %>" />
              <div class="product-action">
                <button class="btn btn-outline-dark btn-square addtocart" href=""><i
                    class="fa fa-shopping-cart"></i></button>
                <button class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></button>
              </div>
            </div>
            <div class="text-center py-4">
              <a class="h6 text-decoration-none text-truncate product-name-<%= element['article_id']%>"
                href="/detail/<%= element['article_id']%>">
                <small><%- element['productDisplayName']%></small>
              </a>
              <div class="d-flex align-items-center justify-content-center mt-2 ">
                <h5 class="product-price-<%= element['article_id']%> red-text">
                  <%= element['price'].toLocaleString()%> <small>vnd</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
    </div>


  </div>
  <!-- Products End -->

  <!-- Vendor -->
  <div class="container-fluid py-5">
    <div class="row px-xl-5">
      <div class="col">
        <div class="owl-carousel vendor-carousel">
          <div class="bg-light p-4 rounded">
            <img src="images/vendor-1.jpg" alt="" />
          </div>
          <div class="bg-light p-4 rounded">
            <img src="images/vendor-2.jpg" alt="" />
          </div>
          <div class="bg-light p-4 rounded">
            <img src="images/vendor-3.jpg" alt="" />
          </div>
          <div class="bg-light p-4 rounded">
            <img src="images/vendor-4.jpg" alt="" />
          </div>
          <div class="bg-light p-4 rounded">
            <img src="images/vendor-5.jpg" alt="" />
          </div>
          <div class="bg-light p-4 rounded">
            <img src="images/vendor-6.jpg" alt="" />
          </div>
          <div class="bg-light p-4 rounded">
            <img src="images/vendor-7.jpg" alt="" />
          </div>
          <div class="bg-light p-4 roundedError">
            <img src="images/vendor-8.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Vendor End -->

  <%- include ('../partials/footer') -%>