<%- include ('../partials/header') -%>

    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="dash">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <!--====== Dashboard Features ======-->
                            <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                <div class="dash__pad-1">
                                    <span class="dash__text u-s-m-b-16">Hello, <%= userInfo['username']%></span>
                                    <ul class="dash__f-list">
                                        <li>
                                            <a class="dash-active" href="/myprofile">My Profile</a>
                                        </li>
                                        <li>
                                            <a href="/myorders">My Orders</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--====== End - Dashboard Features ======-->
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                <div class="dash__pad-2">
                                    <h1 class="dash__h1 u-s-m-b-14">My Profile</h1>

                                    <span class="dash__text u-s-m-b-30">Look all your info, you could customize your
                                        profile.</span>
                                    <div class="row">
                                        <div class="col-lg-4 u-s-m-b-30">
                                            <h2 class="dash__h2 u-s-m-b-8">Full Name</h2>

                                            <span class="dash__text">
                                                <%= userInfo['fullname']%>
                                            </span>
                                        </div>
                                        <div class="col-lg-4 u-s-m-b-30">
                                            <h2 class="dash__h2 u-s-m-b-8">E-mail</h2>

                                            <span class="dash__text">
                                                <%= userInfo['email']%>
                                            </span>
                                        </div>
                                        <div class="col-lg-4 u-s-m-b-30">
                                            <h2 class="dash__h2 u-s-m-b-8">Phone</h2>

                                            <span class="dash__text">
                                                <%= userInfo['phone']%>
                                            </span>
                                        </div>
                                        <div class="col-lg-4 u-s-m-b-30">
                                            <h2 class="dash__h2 u-s-m-b-8">Birthday</h2>

                                            <span class="dash__text">
                                                <%= userInfo['birth'] ? userInfo['birth'].toLocaleDateString() : null%>
                                            </span>
                                        </div>
                                        <div class="col-lg-4 u-s-m-b-30">
                                            <h2 class="dash__h2 u-s-m-b-8">Address</h2>

                                            <span class="dash__text">
                                                <%= userInfo['address']%>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="u-s-m-b-16">

                                                <a class="dash__custom-link btn--e-transparent-brand-b-2"
                                                    href="/editmyprofile">Edit Profile</a>
                                            </div>
                                            <!-- <div>

                                                    <a class="dash__custom-link btn--e-brand-b-2" href="#">Change
                                                        Password</a>
                                                </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>

    <%- include ('../partials/footer') -%>