<%- include ('../partials/header') -%>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shop List</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter
                        by price</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="price-filtering custom-control-input" id="price-all">
                            <label class="custom-control-label" for="price-all">All Price (VND) </label>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="price-filtering custom-control-input" id="price-lt-100">
                            <label class="custom-control-label" for="price-lt-100"> &lt;100.000 </label>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="price-filtering custom-control-input" id="price-bt-100-500">
                            <label class="custom-control-label" for="price-bt-100-500">100.000 - 500.000</label>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="price-filtering custom-control-input" id="price-bt-500-1000">
                            <label class="custom-control-label" for="price-bt-500-1000">500.000 - 1.000.000</label>
                        </div>
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="price-filtering custom-control-input" id="price-gt-1000">
                            <label class="custom-control-label" for="price-gt-1000">&gt; 1.000.000</label>
                        </div>
                    </form>
                </div>
                <!-- Price End -->
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->

            <div class="col-lg-9 col-md-8">
                <div class="row pb-3 product-shop">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div>
                        </div>
                    </div>
                    <% products.forEach(element=> { %>
                        <div class="col-lg-2 col-md-2 col-sm-6 pb-1">
                            <div class="product-item bg-light mb-4 rounded">
                                <div class="product-img position-relative overflow-hidden rounded text-center">
                                    <img class="img-fluid product-image-<%= element['article_id']%>"
                                        style="width:100%; height:250px"
                                        src="https://drive.google.com/uc?id=<%-element['image']%>"
                                        alt="<%- element['productDisplayName'].slice(0, 30) + " ..." + "not found" %>"
                                    />
                                    <div class="product-action">
                                        <button class="btn btn-outline-dark btn-square addtocart" href=""><i
                                                class="fa fa-shopping-cart"></i></button>
                                        <button class="btn btn-outline-dark btn-square" href=""><i
                                                class="fa fa-search"></i></button>
                                    </div>
                                </div>
                                <div class="text-center py-4 product-content " style="background-color: #FFF8DE;">

                                    <a class="h6 text-decoration-none text-truncate product-name-<%= element['article_id']%>"
                                        href="/detail/<%= element['article_id']%>">
                                        <small><%- element['productDisplayName']%></small>
                                    </a>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h5 class="product-price-<%= element['article_id']%> red-text">
                                            <%- element['price'].toLocaleString()%> <small>vnd</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <% }) %>
                    <div class="col-12">
                        <nav>
                            <ul class="pagination justify-content-center d-flex">
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                            </ul>
                        </nav>
                    </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
    </div>
    <!-- Shop End -->

    <!-- Footer Start -->
    <%- include ('../partials/footer') -%>
        <!-- Footer End -->